[submodule "themes/hugo-theme-monochrome"]
	path = themes/hugo-theme-monochrome
	url = https://github.com/kaiiiz/hugo-theme-monochrome.git
[submodule "public"]
	path = public
	url = https://github.com/humanbeeng/humanbeeng.github.io.git
	branch = main
[submodule "themes/hugo-texify3"]
	path = themes/hugo-texify3
	url = https://github.com/michaelneuper/hugo-texify3.git
[submodule "humanbeeng.github.io"]
	path = humanbeeng.github.io
	url = https://github.com/humanbeeng/humanbeeng.github.io.git
	branch = main
